%images {
  cursor: pointer;

  border-radius: 1.66vw;
  width: 9.02777777778vw;
  height: 13.1944444444vw;

  &:hover {
    border-color: #FFFFFF;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: row;
  margin-top: 1.38888888889vw;

  a {
    width: 9.02777777778vw;
    height: 13.1944444444vw;
    margin-right: 1.66666666667vw;

    &:last-child {
      margin-right: 0vw;
    }
  }
}

.voteImg {
  border: 0.27777777777vw solid #cdcfff;
  @extend %images;
}

.breedImg {
  border: 0.27777777777vw solid #baf1d0;
  @extend %images;
}

.galleryImg {
  border: 0.27777777777vw solid #ffe1aa;
  @extend %images;
}

.buttons {
  margin-top: 1.2vw;
  display: flex;
  flex-direction: row;

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 9.58333333333vw;
    height: 2.5vw;
    margin-right: 1.11111111111vw;

    &:last-child {
      margin-right: 0vw;
    }


    background-color: #FFFFFF;
    border: none;
    border-radius: 0.69444444444vw;

    width: 9.58333333333vw;
    height: 2.5vw;

    font-family: Jost;
    font-size: 0.83333333333vw;
    font-weight: 500;
    line-height: 1.11111111111vw;
    letter-spacing: 0.13888888888vw;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF868E;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #FBE0DC;
      color: #FF868E;
    }
  }
}

.activeButton {
  color: #FFFFFF !important;
  background-color: #FF868E !important;
}

.activeImg {
  img {
    border-color: #FBE0DC;
  }
}

@media only screen and (max-width: 812px) {
  .wrapper {
    justify-content: center;
  }
  .navigation {
    display: none;
  }

  .buttons {
    margin-top: 6.53333333333vw;
    align-items: center;
    flex-direction: column;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5.33333333333vw;
      margin-right: 0;
      border-radius: 2.66666666667vw;

      &:last-child {
        margin-right: 0vw;
        margin-bottom: 0;
      }

      width: 89.3333333333vw;
      height: 9.6vw;

      font-size: 3.2vw;
      line-height: 4.26666666667vw;
      letter-spacing: 0.53333333333vw;

      transition: background-color 0.2s ease-in-out;

    }
  }
}