.wrapper {
  margin-left: 9.51388888889vw;
  margin-bottom: 1.38888888889vw;
  width: 47.2222222222vw;
  height: 54.3055555556vw;
  border-radius: 1.38888888889vw;

  display: flex;
  flex-direction: column;

  background-color: #FFFFFF;
}