.wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 1.38888888889vw;

  button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-left: 1.38888888889vw;

    width: 2.77777777778vw;
    height: 2.77777777778vw;
    border-radius: 0.69444444444vw;
    border: none;

    background-color: #FBE0DC;

    img {
      width: 0.79166666666vw;
      height: 1.38888888889vw;
    }
  }
}

.name {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 10.1388888889vw;
  height: 2.77777777778vw;
  margin-left: 0.69444444444vw;

  background: #FF868E;
  border-radius: 0.69444444444vw;

  p {
    font-family: Jost;
    font-size: 1.38888888889vw;
    font-weight: 400;
    line-height: 2.08333333333vw;
    letter-spacing: 0.13888888888vw;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
  }
}

@media only screen and (max-width: 812px) {
  .wrapper {
    padding-top: 5.33333333333vw;

    button {
      margin-left: 5.33333333333vw;
      width: 10.6666666667vw;
      height: 10.6666666667vw;
      border-radius: 2.66666666667vw;

      img {
        width: 3.04vw;
        height: 5.33333333333vw;
      }
    }
  }

  .name {
    width: 38.9333333333vw;
    height: 10.6666666667vw;
    margin-left: 2.66666666667vw;
    border-radius: 2.66666666667vw;

    p {
      font-size: 5.33333333333vw;
      line-height: 8vw;
      letter-spacing: 0.53333333333vw;
    }
  }
}