.wrapper {
  display: flex;
  flex-direction: row;

  margin-top: -4vw;

  margin-left: 3.5vw;
  img {
    width: 53.8194444444vw;
    height: 62.5vw;
  }
}

@media only screen and (max-width: 812px) {
  .wrapper{
    img {
      display: none;
    }
  }
}