.wrapper {
  display: flex;
  flex-direction: row;
  padding-left: 10.2083333333vw;
}

.nameText {
  margin-left: 0.55555555555vw;
  margin-top: 2.05vw;
  text-decoration: none;

  h1 {
    font-size: 1.38888888889vw;
    line-height: 2.01388888889vw;
    letter-spacing: 0em;
    text-align: left;
    color: #1D1D1D;
    font-family: Jost;
    font-weight: 600;
  }
}


.logo {
  display: flex;
  margin-top: 2.08333333333vw;
  width: 1.66666666667vw;
  height: 1.66666666667vw;

  img {
    width: 1.66666666667vw;
    height: 1.66666666667vw;
  }
}


@media only screen and (max-width: 812px) {
  .wrapper {
    padding-left: 5.33333333333vw;
  }

  .logo {
    margin-top: 5.33333333333vw;
    width: 6.4vw;
    height: 6.4vw;

    img {
      width: 6.4vw;
      height: 6.4vw;
    }
  }

  .nameText {
    margin-left: 2.10666666667vw;
    margin-top: 7.04vw;

    h1 {
      font-size: 5.33333333333vw;
      line-height: 3vw;
    }
  }
}
