.wrapper {
  margin-left: 9.51388888889vw;
  margin-bottom: 1.38888888889vw;
  width: 47.2222222222vw;
  border-radius: 1.38888888889vw;

  display: flex;
  flex-direction: column;

  background-color: #FFFFFF;
}

@media only screen and (max-width: 812px) {
  .wrapper {
    margin-top: 20vw;
    margin-left: 5.33333333333vw;
    width: 89.3333333333vw;
    border-radius: 5.33333333333vw;
  }
}