%svg {
  svg {
    width: 2.08333333333vw;
    height: 2.08333333333vw;
  }
}

%mainImg {
  width: 44.4444444444vw;
  height: 25vw;
  border-radius: 1.38888888889vw;
}

.wrapper {
  margin-top: 1.38888888889vw;
  margin-left: 1.38888888889vw;
  display: flex;
  flex-direction: column;

  img {
    @extend %mainImg;
  }
}

.buttons {
  position: absolute;

  margin-left: 13.6111111111vw;
  margin-top: 22.0833333333vw;

  display: flex;
  flex-direction: row;
  width: 17.2222222222vw;
  height: 5.55555555556vw;

  border-radius: 1.38888888889vw;
  border: 0.27777777777vw solid #FFFFFF;

  background-color: #FFFFFF;

  button {
    cursor: pointer;

    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 5.55555555556vw;
    height: 5.55555555556vw;
    margin-right: 0.27777777777vw;

    &:last-child {
      margin-right: 0vw;
    }
  }
}

.likes {
  background-color: #97EAB9;
  border-bottom-left-radius: 1.38888888889vw;
  border-top-left-radius: 1.38888888889vw;

  @extend %svg;
}

.favourite {
  background-color: #FF868E;

  svg {
    height: 1.80555555556vw !important;
  }

  @extend %svg
}

.dislikes {
  background-color: #FFD280;
  border-bottom-right-radius: 1.38888888889vw;
  border-top-right-radius: 1.38888888889vw;

  @extend %svg
}

.skeleton {
  @extend %mainImg;
}

@media only screen and (max-width: 812px) {
  %svg {
    svg {
      width: 6vw;
      height: 6vw;
    }
  }
  %mainImg {
    width: 78.6666666667vw;
    height: 44.3013333333vw;
    border-radius: 5.33333333333vw;
  }
  .wrapper {
    margin-top: 5.33333333333vw;
    margin-left: 5.33333333333vw;
  }

  .buttons {
    margin-left: 13.6111111111vw;
    margin-top: 36.2666666667vw;

    width: 49.6vw;
    height: 16vw;

    border-radius: 5.33333333333vw;
    border: 1.06666666667vw solid #FFFFFF;

    background-color: #FFFFFF;

    button {
      width: 16vw;
      height: 16vw;
      margin-right: 0.8vw;

      &:last-child {
        margin-right: 0vw;
      }
    }
  }
  .likes {
    border-bottom-left-radius: 5.33333333333vw;
    border-top-left-radius: 5.33333333333vw;
  }

  .favourite {
    svg {
      height: 5.2vw !important;
    }
  }

  .dislikes {
    border-bottom-right-radius: 5.33333333333vw;
    border-top-right-radius: 5.33333333333vw;
  }
}